node_modules/
dist/
.DS_Store
*.log
.firebase/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
.idea/
*.iml
.capacitor/
*.keystore
*.jks
.env
.env.*
.cursor/
